.navbar-wrapper{
  border-bottom: 1px solid black;
  padding: 20px;
  text-decoration: none;
  display: flex;
}

.nav-header{
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  width: 50%;
}

.nav-item{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 20%;
}

